{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block javascripts %}
  {{ parent() }}
    <script src="{{ asset('../modules/hooksmanager/src/Resources/js/hooksmanager.js') }}"></script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}

{# TODO: nie działa #}
{# <link rel="stylesheet" href="{{ asset('../modules/hooksmanager/src/Resources/css/hooksmanager.css') }}"> #}

{% endblock %}

{% block content %}

<div class="container" id="hooksmanager-box" data-url="{{url_controller}}"  data-urldel="{{url_controller_del}}" >
  <div class="row">
    <div class="col-12">

    </div>
  </div>
  <div class="row">
    <div class="col-6">
        <h3>
        {% if mode == 'edit' %}
        Edit new hook
        {% else %}
        Add new hook
        {% endif %}
        </h3>
        {{form(form)}}
    </div>

    <div class="col-6" id="box-alert">
        {% for flashMessage in app.session.flashbag.get('info') %}
          <div class="alert alert-{{flashMessage.type}}" role="alert">
            {{ flashMessage.message }}
          </div>
        {% endfor %}
      <a href="{{url_controller}}" class="btn btn-success">Add new hook</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="input-group mb-3">
        <input type="text" class="form-control"  id="search-hook-list" placeholder="Filter by text" aria-label="Filter by text" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Search</button>
        </div>
      </div>
    </div>
    <div class="col-12">
        <table class="table" id="table-hook-list">
            <thead class="thead-dark">
              <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">title</th>
                <th scope="col">description</th>
                <th scope="col">visible</th>
                <th scope="col">action</th>
                </tr>
            </thead>
            <tbody>
              {% for hook in hooks %}
                <tr class="hook-row">
                  <td class="hook-id" data-id="{{hook['id_hook']}}">{{hook['id_hook']}}</td>
                  <td class="hook-name">{{hook['name']}}</td>
                  <td class="hook-title">{{hook['title']}}</td>
                  <td class="hook-description">{{hook['description']}}</td>
                  <td>
                    {% if hook['position'] %}
                    <span class="badge badge-success">On</span>
                    {% else %}
                    <span class="badge badge-secondary">Off</span>
                    {% endif %}
                  </td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-warning btn-edit">edit</button>
                      <button type="button" class="btn btn-danger btn-del">delete</button>
                    </div>
                  </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="modal-del" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Are you sure you want delete hook?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="del-hook-btn">Delete</button>
      </div>
    </div>
  </div>
</div>

</div>




{% endblock %}
