{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block javascripts %}
  {{ parent() }}
    <script src="{{ asset('../modules/texttranslate/app/dist/main.bundle.js') }}"></script>
{% endblock %}

{% block content %}
<div id="trans" 
data-url-clear-cache="{{url_clear_cache}}"
data-url-get-translations="{{url_get_translations}}"
data-url-update-translations="{{url_update_translation}}"
data-url-delete-translations="{{url_delete_translation}}"
data-url-get-tabs="{{url_get_tabs}}"
data-url-update-tabs="{{url_update_tabs}}"
>
  <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Show examples
  </button>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
      <b><p class="bold">Watch out for naming domain. ShopThemeActions work only in themes/ <br>
        Domains: EmailsBody, AdminNavigationFooter</p> </b>
      In Smarty: {l s='Contact' d='Admin.Navigation.Footer'} <br>
      In Twig: { {'Hi {firstname} {lastname},'|trans({}, 'Emails.Body')}}
              
  </div>
</div>
    <div id="app"></div>
</div>



{% endblock %}